@import 'ember-paper';

.error-toast {
  .md-toast-content {
    color: RGB(var(--warn-500-contrast));
    background-color: #f44336;
  }
}

.hidden {
  pointer-events: none;
  opacity: 0;
}

.min-width-70 {
  min-width: 70%;
}

.leaflet-container {
  z-index: 50;
}


.card-content {
  overflow-y: auto;
}

.full-sized {
  min-height: 100vh;
  max-height: 100vh;
  min-height: -webkit-fill-available;
  max-height: -webkit-fill-available;
  position:fixed;
  width:100%;
  height:100%
}

.margin-auto {
  margin: auto;
}

.margin-top-auto {
  margin-top: auto;
}
.margin-bottom-auto {
  margin-bottom: auto;
}

.map-actions {
  position: absolute;
  right: 0;
  z-index: 401;
}

.recommendation-banner {
  position: absolute;
  top: 0;
  bottom: unset !important;
  width: 100%;

  .md-toast-content {
    background-color: grey;
  }
}
