@import 'ember-paper';

.error-toast {
  .md-toast-content {
    color: RGB(var(--warn-500-contrast));
    background-color: #f44336;
  }
}

.hidden {
  pointer-events: none;
  opacity: 0;
}

.min-width-80 {
  min-width: 80%;
}

.leaflet-container {
  z-index: 50;
}


.card-content {
  overflow-y: auto;
}

.full-sized {
  min-height: 100vh;
  max-height: 100vh;
  min-height: -webkit-fill-available;
  max-height: -webkit-fill-available;
}
