<div class="layout-column">
  {{#paper-toolbar class="layout-row"}}
    {{#paper-toolbar-tools}}
      {{#paper-button iconButton=true onClick=(action "goBack")}}
        {{paper-icon "keyboard_arrow_left"}}
      {{/paper-button}}
      <h2>Sightseeing recommendation categories</h2>
      <span class="flex"></span>
      <span>Step 2/3</span>
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}

  <div class="layout-row">
    <div class="flex-gt-sm-25"/>
    {{#paper-card class="md-padding flex" as |card|}}
      {{#card.content}}

        <div class="layout-row">Select the different categories you want to receive recommendations for. If you do not select any categories, you will receive recommendations based only on the geographical area you provide the application with.</div>

        {{#paper-grid-list
                class="layout-row"
                cols="3 md-4 gt-md-6"
                rowHeight="gt-md-1:1 2:2"
                gutter="12px gt-sm-8px" as |grid|}}

          {{#grid.tile class="flex-30" rowspan="1" colspan="1" as |tile|}}
            <img src="https://cdn.dribbble.com/users/49803/screenshots/6581897/music-logo-design_2x.png" style="width: 100%;max-width: 400px;height: auto;"/>
            {{#tile.footer}}
              <h3>#1: (3r x 2c)</h3>
            {{/tile.footer}}
          {{/grid.tile}}

          {{#grid.tile class="flex-30" rowspan="1" colspan="1" as |tile|}}
            <img src="https://cdn.dribbble.com/users/49803/screenshots/6581897/music-logo-design_2x.png" style="width: 100%;max-width: 400px;height: auto;"/>
            {{#tile.footer}}
              <h3>#1: (3r x 2c)</h3>
            {{/tile.footer}}
          {{/grid.tile}}

          {{#grid.tile class="flex-30" rowspan="1" colspan="1" as |tile|}}
            <img src="https://cdn.dribbble.com/users/49803/screenshots/6581897/music-logo-design_2x.png" style="width: 100%;max-width: 400px;height: auto;"/>
            {{#tile.footer}}
              <h3>#1: (3r x 2c)</h3>
            {{/tile.footer}}
          {{/grid.tile}}

          {{#grid.tile class="flex-30" rowspan="1" colspan="1" as |tile|}}
            <img src="https://cdn.dribbble.com/users/49803/screenshots/6581897/music-logo-design_2x.png" style="width: 100%;max-width: 400px;height: auto;"/>
            {{#tile.footer}}
              <h3>#1: (3r x 2c)</h3>
            {{/tile.footer}}
          {{/grid.tile}}

          {{#grid.tile class="flex-30" rowspan="1" colspan="1" as |tile|}}
            <img src="https://cdn.dribbble.com/users/49803/screenshots/6581897/music-logo-design_2x.png" style="width: 100%;max-width: 400px;height: auto;"/>
            {{#tile.footer}}
              <h3>#1: (3r x 2c)</h3>
            {{/tile.footer}}
          {{/grid.tile}}

          {{#grid.tile class="flex-30" rowspan="1" colspan="1" as |tile|}}
            <img src="https://cdn.dribbble.com/users/49803/screenshots/6581897/music-logo-design_2x.png" style="width: 100%;max-width: 400px;height: auto;"/>
            {{#tile.footer}}
              <h3>#1: (3r x 2c)</h3>
            {{/tile.footer}}
          {{/grid.tile}}

          {{#grid.tile class="flex-30" rowspan="1" colspan="1" as |tile|}}
            <img src="https://cdn.dribbble.com/users/49803/screenshots/6581897/music-logo-design_2x.png" style="width: 100%;max-width: 400px;height: auto;"/>
            {{#tile.footer}}
              <h3>#1: (3r x 2c)</h3>
            {{/tile.footer}}
          {{/grid.tile}}

          {{#grid.tile class="flex-30" rowspan="1" colspan="1" as |tile|}}
            <img src="https://cdn.dribbble.com/users/49803/screenshots/6581897/music-logo-design_2x.png" style="width: 100%;max-width: 400px;height: auto;"/>
            {{#tile.footer}}
              <h3>#1: (3r x 2c)</h3>
            {{/tile.footer}}
          {{/grid.tile}}

          {{#grid.tile class="flex-30" rowspan="1" colspan="1" as |tile|}}
            <img src="https://cdn.dribbble.com/users/49803/screenshots/6581897/music-logo-design_2x.png" style="width: 100%;max-width: 400px;height: auto;"/>
            {{#tile.footer}}
              <h3>#1: (3r x 2c)</h3>
            {{/tile.footer}}
          {{/grid.tile}}

          {{#grid.tile class="flex-30" rowspan="1" colspan="1" as |tile|}}
            <img src="https://cdn.dribbble.com/users/49803/screenshots/6581897/music-logo-design_2x.png" style="width: 100%;max-width: 400px;height: auto;"/>
            {{#tile.footer}}
              <h3>#1: (3r x 2c)</h3>
            {{/tile.footer}}
          {{/grid.tile}}

        {{/paper-grid-list}}

        <div class="layout-row">
          <div class="flex-40"/>
          {{#paper-button raised=true primary=true onClick=(action "proceed")}}Next{{/paper-button}}
          <div class="flex-40"/>
        </div>
      {{/card.content}}
    {{/paper-card}}
    <div class="flex-gt-sm-25"/>
  </div>
</div>