{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    {{#paper-button iconButton=true onClick=(action "goBack")}}
      {{paper-icon "keyboard_arrow_left"}}
    {{/paper-button}}
    <h2>Setup complete</h2>
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

<div class="md-padding">
  <b>Your configuration is complete.</b>

  <div>Click the button called <b>Privacy policy</b> below to learn more about how Apricot processes your personal data.</div>

  <div>Click <b>Dashboard</b> to customize your interests and your privacy preferences.</div>

  <div>Click <b>Quit</b> to finish this setup.</div>

  <div>Have fun with the events recommendations!</div>
</div>