{{#presenter-container class="layout-column flex" as |container|}}
  {{#container.header}}
    {{#paper-toolbar-tools}}
      {{#paper-button iconButton=true onClick=(action "goBack")}}
        {{paper-icon "arrow_left_alt"}}
      {{/paper-button}}
      <h2>S8-C recommender engine</h2>
      <span class="flex"></span>
      <span>4/4</span>
    {{/paper-toolbar-tools}}
  {{/container.header}}

  {{#container.content class="min-width-70 layout-column flex" as |card|}}
    {{#card.content class="flex layout-column layout-gt-xs-row card-content"}}

      <div class="md-padding flex flex-xs-40" style="text-align:center;position: relative;background: #EEE;">
        <img src="/assets/images/sightsee_4.jpg" class="layout-fill" style="width:100%;height:100%; position: absolute;top:0;left:0;"/>
      </div>

      <div class="flex layout-column margin-auto">
        <div class="md-padding"><b>Your configuration is complete.</b></div>

        <div class="md-padding">Click the button called <b>Privacy policy</b> below to learn more about how Apricot processes your personal data.</div>

        <div class="md-padding">Click <b>Dashboard</b> to customize your interests and your privacy preferences.</div>

        <div class="md-padding">Click <b>Quit</b> to finish this setup.</div>

        <div class="md-padding">Have fun with the events recommendations!</div>
      </div>
    {{/card.content}}

    {{paper-divider}}
    {{#card.actions class="layout-row"}}
      {{#paper-button raised=true primary=true class="flex"}}Privacy policy{{/paper-button}}
      {{#paper-button raised=true primary=true class="flex" href=(href-to "dashboard")}}Dashboard{{/paper-button}}
      {{#paper-button raised=true primary=true class="flex" onClick=(action "finishSetup")}}Finish setup{{/paper-button}}
    {{/card.actions}}
  {{/container.content}}

{{/presenter-container}}

{{paper-toaster}}