{{#presenter-container class="layout-column flex" as |container|}}
  {{#container.header}}
    {{#paper-toolbar-tools}}
      {{#paper-button iconButton=true onClick=(action "goBack")}}
        {{paper-icon "arrow_left_alt"}}
      {{/paper-button}}
      <h2>S8-C recommender engine</h2>
      <span class="flex"></span>
      <span>2/4</span>
    {{/paper-toolbar-tools}}
  {{/container.header}}

  {{#container.content class="min-width-70 layout-column flex" as |card|}}
    {{#paper-form class="layout-column flex" onSubmit=(action "proceed") as |form|}}
      {{#card.content class="flex layout-column layout-gt-xs-row card-content"}}
        <div class="md-padding margin-auto flex-gt-xs" style="text-align:center;">
          <img src="/assets/images/sightsee_2.jpg" style="max-height:100%;max-width:100%;"/>
        </div>

        <div class="flex layout-column margin-auto">
          <div class="md-padding">
            At Apricot, we care about your data and we want to make sure you know how and why we are using it.
          </div>

          <div class="md-padding">
            In order to be more transparent, we are using a new method to ask for your consent before using any data of yours.
            On the next screen, we will let you configure how you want us to contact you.
          </div>
        </div>

      {{/card.content}}

      {{paper-divider}}
      {{#card.actions class="layout-row"}}
        {{#paper-button raised=true primary=true class="flex"}}Privacy policy{{/paper-button}}
        {{#paper-button raised=true primary=true class="flex"}}Dashboard{{/paper-button}}
        {{#form.submit-button raised=true primary=true class="flex"}}Next{{/form.submit-button}}
      {{/card.actions}}
    {{/paper-form}}
  {{/container.content}}

{{/presenter-container}}