{{#presenter-container class="flex layout-column" as |container|}}
  {{#container.header}}
    {{#paper-toolbar-tools}}
      {{paper-button iconButton=true class="hidden"}}
      <h2 class="flex">S8-C recommender engine</h2>
      <span>1/4</span>
      {{application-menu}}
      {{#paper-button iconButton=true onClick=(action "proceed")}}
        {{paper-icon "arrow_forward"}}
      {{/paper-button}}
    {{/paper-toolbar-tools}}
  {{/container.header}}

  {{#container.content class="flex layout-column min-width-70" as |card|}}
    {{#card.content class="flex layout-column layout-gt-xs-row card-content"}}

      <div class="md-padding flex flex-xs-40" style="text-align:center;position: relative;background: #EEE;">
        <img src="/assets/images/sightsee_1.jpg" class="layout-fill" style="width:100%;height:100%; position: absolute;top:0;left:0;"/>
      </div>

      <div class="flex layout-column margin-auto">
        <div class="md-padding">
          Thank your for choosing our free sightseeing recommendation service, which will provide you with locations to check out.
        </div>

        <div class="md-padding">
          You can check the privacy policy by clicking the {{#paper-button raised=true primary=true mini=true fab=false}}Privacy policy{{/paper-button}} button.
        </div>

        <div class="md-padding">
          At any time, you can check what data we are processing by clicking the {{#paper-button raised=true primary=true mini=true fab=false}}Dashboard{{/paper-button}} button.
        </div>

        <div class="md-padding">
          We just need to configure a few things with you before we can get started.
        </div>
      </div>

    {{/card.content}}

  {{/container.content}}

{{/presenter-container}}