<div class="layout-column">
  {{#paper-toolbar class="layout-row"}}
    {{#paper-toolbar-tools}}
      {{paper-button iconButton=true class="hidden"}}
      <h2>Location-based events</h2>
      <span class="flex"></span>
      <span>Step 1/3</span>
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}

  <div class="layout-row">
    <div class="flex-gt-sm-25"/>
    {{#paper-card class="md-padding flex" as |card|}}
      {{#card.content}}

        <div class="layout-column md-padding">
          Currently, you will receive sightseeing recommendations around a location you specify.
          Apricot would like to provide you with customized location-based recommendations.
        </div>

        <div class="layout-column md-padding">
          <span class="layout-row">
            <b>Why</b>&nbsp;Apricot uses your location data:
          </span>
          <ul class="layout-column">
            <li>Provide you with recommendations based on your location.</li>
          </ul>
        </div>

        <div class="layout-column md-padding">
          <span class="layout-row">
            <b>Where</b>&nbsp;your data will be stored:
          </span>
          <ul class="layout-column">
            <li>On servers in Europe (protective measures)</li>
            <li>On servers in the USA (run by our affiliates)</li>
          </ul>
        </div>

        <div class="layout-column md-padding">
          <span class="layout-row">
            For&nbsp;<b>how long</b>&nbsp;your data will be stored:
          </span>
          <ul class="layout-column">
            <li>Until you revoke your consent or delete your account for the Apricot Sightseeing Recommender.</li>
          </ul>
        </div>

        {{paper-divider class="layout-row md-padding"}}

        <div class="layout-column md-padding">
          <span class="md-padding">Do you consent to your location being used to provide you location-based sightseeing recommendation?</span>
          {{#paper-radio-group
                  class="layout-column"
                  groupValue=(readonly hasLocationUsageBeenAccepted)
                  onChange=(action (mut hasLocationUsageBeenAccepted)) as |group|}}
            {{#group.radio value=true primary=true}} Yes {{/group.radio}}
            {{#group.radio value=false primary=true}} No {{/group.radio}}
          {{/paper-radio-group}}
        </div>

        <div class="layout-row">
          <div class="flex-40"/>
          {{#paper-button raised=true primary=true onClick=(action "proceed")}}Proceed{{/paper-button}}
          <div class="flex-40"/>
        </div>

        {{paper-divider class="layout-row md-padding"}}

        <div class="layout-row md-padding">
          <div class="layout-column flex-20">{{paper-icon "info"}}</div>
          <div class="layout-column flex">You may adapt your privacy settings at any time via your Privacy dashboard. The dashboard and Apricot's privacy policy are available for your reference via the buttons below.</div>
        </div>

        <div class="layout-row md-padding">
          <button class="flex-33">Privacy policy</button>
          <button class="flex-33">Dashboard</button>
          <button class="flex-33">Quit</button>
        </div>

      {{/card.content}}
    {{/paper-card}}
    <div class="flex-gt-sm-25"/>
  </div>
</div>