<div class="layout-column">
  {{#paper-toolbar class="layout-row"}}
    {{#paper-toolbar-tools}}
      {{#paper-button iconButton=true onClick=(action "goBack")}}
        {{paper-icon "keyboard_arrow_left"}}
      {{/paper-button}}
      <h2>Notification customization</h2>
      <span class="flex"></span>
      <span>Step 3/3</span>
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}

  <div class="layout-row">
    <div class="flex-gt-sm-25"/>
    {{#paper-card class="md-padding flex" as |card|}}
      {{#card.content}}

        <div class="layout-column md-padding">
          // This screen should have different content depending on whether we are allowed to track the user's location or not.
          // If we are, we can ask for permission to try to discover their interests based on locations they frequent and add it to their categories.
          // If we are not, not sure what to show, maybe just a message to say there is no need to configure notifications?
          Thanks to the location data we collect, we can try to understand your interests and provide you with new categories based on the locations you have visited.
          Would you like us to try and provide you with categories you seem to enjoy but have not yet recorded?
        </div>

        <div class="layout-column md-padding">
          <span class="layout-row">
            <b>Why</b>&nbsp;Apricot uses your location data:
          </span>
          <ul class="layout-column">
            <li>Discover new data categories you might be interested in.</li>
          </ul>
        </div>

        <div class="layout-column md-padding">
          <span class="layout-row">
            <b>Where</b>&nbsp;your data will be stored:
          </span>
          <ul class="layout-column">
            <li>On servers in Europe (protective measures)</li>
            <li>On servers in the USA (run by our affiliates)</li>
          </ul>
        </div>

        <div class="layout-column md-padding">
          <span class="layout-row">
            For&nbsp;<b>how long</b>&nbsp;your data will be stored:
          </span>
          <ul class="layout-column">
            <li>Until you revoke your consent or delete your account for the Apricot Event Recommender.</li>
          </ul>
        </div>

        {{paper-divider class="layout-row md-padding"}}

        <div class="layout-column md-padding">
          <span class="md-padding">
            Please select&nbsp;<b>if and how</b>&nbsp;the event recommendations you receive should be customized via your TV-viewing interests.
          </span>

          {{#paper-radio-group
                  class="layout-column"
                  groupValue=(readonly notificationMode)
                  onChange=(action (mut notificationMode)) as |group|}}
            {{#group.radio value="manual" primary=true}}
              <b>Add manually</b>
              <p>You will receive notifications that will allow you to decide whether a category should be added to your preferences.</p>
            {{/group.radio}}
            {{#group.radio value="automatic" primary=true}}
              <b>Add automatically</b>
              <p>You will receive notifications to let you know when a new category has been added to your preferences.</p>
            {{/group.radio}}
            {{#group.radio value="none" primary=true}}
              <b>No additional customization</b>
              <p>Your location will not be used to tailor your preferences.</p>
            {{/group.radio}}
          {{/paper-radio-group}}
        </div>

        <div class="layout-row">
          <div class="flex-40"/>
          {{#paper-button raised=true primary=true onClick=(action "proceed")}}Proceed{{/paper-button}}
          <div class="flex-40"/>
        </div>
      {{/card.content}}
    {{/paper-card}}
    <div class="flex-gt-sm-25"/>
  </div>
</div>