<div class="layout-column">
  {{#paper-toolbar class="zindex60 layout-row"}}
    {{#paper-toolbar-tools}}
      {{paper-button iconButton=true class="hidden"}}
      <h2>S8-C</h2>
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}

  <div class="layout-row">
    <div class="flex-gt-sm-25"/>
    {{#paper-card class="md-padding md-margin-auto flex" as |card|}}
      {{#card.content}}
        {{#paper-form onSubmit=(action "login") as |form|}}
          <div class="layout-row">
            <div class="layout-column flex-40">
              {{form.input label="Username" value=username onChange=(action (mut username)) required=true passThru=(hash autocomplete="username")}}
            </div>
            <div class="flex-10"/>
            <div class="layout-column flex-40">
              {{form.input label="Password" value=password onChange=(action (mut password)) required=true type="password" passThru=(hash autocomplete="current-password")}}
            </div>
          </div>
          <div class="layout-row">
            <div class="flex-40"/>
            {{#form.submit-button raised=true primary=true elementId="login"}}Log in{{/form.submit-button}}
          </div>
        {{/paper-form}}
      {{/card.content}}
    {{/paper-card}}
    <div class="flex-gt-sm-25"/>
  </div>

</div>

{{paper-toaster}}