{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    {{paper-button iconButton=true class="hidden"}}
    <h2>Apricot event recommender</h2>
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

<div class="md-padding">

</div>